.dashboard-square{
    width:600px!important;
    position:relative;
    display:flex;
    flex-direction:column;
    height:600px;
    margin-left:auto;
    margin-right:auto;
}
.dashboard-line {
    display: flex;
    flex-direction: row;
    position: relative;
    width:100%;
    height:33.33%;
}
.dashboard-item {
    width: 33.33%;
    padding: 20px;
    color: lightgray;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #556;
    background: linear-gradient(45deg,#445,#556);
}

.dashboard-item:not(.profile-picture):hover {
   background:#555;
}
.profile-picture {
    background-image: url('../../public/assets/images/profile.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
}